/* Weather APP */

body{
    font-family:Arial, sans-serif;
    background-color: #d2a985;
    margin: 0; 
    display: flex;
    flex-direction:column;
    background-image: url(https://openweathermap.org/themes/openweathermap/assets/img/autumn_banner_main_page.jpg);
    background-repeat: no-repeat;
    background-size: cover;      
    background-attachment: fixed; 
    background-position: center;
    height: 100vh;
  } 

 
  .cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
  }
 
 
  button[type=submit]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(26, 134, 98);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;

 
  }
 
  button[type=submit]:hover{
    background-color:  rgb(20, 78, 57);
  }
 
  .card{
   background :linear-gradient(180deg,hsl(210,100%,75%),hsl(40,100%,75%));
   padding: 70px;
   box-shadow: 2px 2px 5px black;
   font-size: medium;
   min-width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   width: 20%;
   align-self: flex-end;
   margin: 0;
   margin-top: 50px;
   margin-right: 100px;

  }
 
  h1{
    font-size: 3.5rem;
    margin-top: 0px;
    margin-bottom: 25px;
    
  }
 
  p{
    font-size: 1.5rem;
    margin: 5px 0px;
  }
 
  .cityDisplay,.tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0,0%,0%,0.75);
  }
 
  .humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
 
  }
 
  .descDisplay{
    font-style:italic ;
    font-weight: bold;
    font-size: 2rem;
  }
 
  .weatherEmoji{
     margin: 0px;
     font-size: 7.5rem;                       
  }
 
  .errorDisplay{
    font-size: 2.2rem;
    font-weight: bold;
    color: hsla(0,0%,0%,0.767);
  }

  .navbar{
    
    background-color:#48484A;
    width: 100vw;
    height: 60px;
    color: white ;
    padding-left: 50px;
  }

  
.weatherForm{
    
  display: flex;
  flex-direction: column ;
  align-items: flex-start; 
  text-align: left;
  background :linear-gradient(180deg,hsl(210,100%,75%),hsl(40,100%,75%));
  box-shadow: 2px 2px 5px black;
  font-size: medium;
  padding: 70px;
  border-radius: 10px;
  width: 20%;
  margin: 50px 0px 0px 100px;
  align-self: flex-start;
  min-width: 300px;
  } 

  .container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
  }
  